:root {
  --primary-color: #C34F83;
  --background-color: #020304;
  --secondary-background-color: #0F171E;
  --text-color: #EBEEF0;
  --font: sans-serif;
}

.st-copy-to-clipboard-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font);
  font-weight: 400;
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  min-height: 38.4px;
  margin: 0;
  line-height: 1.6;
  color: var(--text-color);
  width: auto;
  user-select: none;
  background-color: var(--background-color);
  border: 1px solid var(--secondary-background-color);
  cursor: pointer;
}

.st-copy-to-clipboard-btn:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.st-copy-to-clipboard-btn:active {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  color: var(--text-color);
}
